<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASD Prediction</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>ASD Prediction</h1>
    <form action="{{ url_for('predict')}}" method="POST">
        <label for="age_group">Select an age group:</label><br>
        <select name="age_group">
            <option value="children">Children(1-10)</option>
            <option value="adolescent">Adolescent(11-15)</option>
            <option value="young">Young(16-24)</option>
            <option value="adult">Adult(25+)</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>


